<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home &middot; SS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
              <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Social Shopper</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="#">My Shoppings</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                    </li>
                  </ul>
                    <span>
                        <a class="btn" href="{% url 'profile' %}">Profile</a>
                    </span>
                </div>
              </div>
        </nav>
    </div>
    <div class="container px-4 mt-3">
        <div class="row">
            <div id="div-sidebar" class="col-2 rounded">
            <div class="list-group">
              <a href="{% url 'user_home' 'pr' %}" class="list-group-item list-group-item-action p-3 mt-1">Proposed</a>
              <a href="{% url 'user_home' 'ac' %}" class="list-group-item list-group-item-action p-3 mt-1">Active</a>
              <a href="{% url 'user_home' 'co' %}" class="list-group-item list-group-item-action p-3 mt-1 mb-1">Completed</a>
            </div>
            </div>
            <div class="col-8 rounded">
                <ul class="list-group list-group-flush">
                    {% for shop in shoppings %}
                    <li class="list-group-item">
                        <div class="card">
                          <div class="card-header text-center">
                              <h4>{{shop.venue}}</h4>
                          </div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-3">
                                     <h5 class="card-title"><i class="far fa-calendar"></i> {{shop.date}}</h5>
                                  </div>
                                  <div class="col-7">
                                    <div class="card" style="width: 18rem;">
                                      <div class="card-body">
                                        <h5 class="card-title">About Shopper</h5>
                                          <div class="row">
                                              <div class="col">Shoppings Done : {{shop.shopper.shops_done}}</div>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-2">
                                      <form method="post" action="{% url 'shopping_detail' shop.id %}">
                                          {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">View</button>
                                      </form>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-2 bg-secondary">
                Extras
            </div>
        </div>
    </div>


</body>
</html>